.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  font-weight: bold;
  height: 4em;
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  outline: 1px solid #888888;
}
