.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.row {
  cursor: pointer;
  display: flex;
  width: 100%;
}
